body {
	background-image:URL('paramariana.jpg');
	background-size:cover;
	background-repeat: no-repeat;
}

div {
	background-color: #cc0000;
	border-radius: 100%;
	padding-top: 3.5%;
	width: 3.5%;
	position: absolute;
	
}

img {
	padding-top: 3%;
	width: 3%;
	left: 95%;
	top: -3%;
	position: absolute;
	
}

h4 {
	opacity: 0.5;
	top: 20%;
	left: 14%;
	font-family: "Courier New";
	color: white;
	font-weight: normal;
	text-align: center;
	position: absolute;
	font-size: 10vh;
	
}

h1 {
	font-family: "Courier New";
	color: white;
	font-weight: normal;
	text-align: center;
	position: absolute;
	left: 40%;
	font-size: 9vh;
	opacity: 0;
}

h2 {
	font-family: "Book Antiqua";
	color: white;
	position: absolute;
	left: 55%;
	top: 36%;
	font-size: 7vh;
	opacity: 0;
}

h3 {
	font-size: 6vh;
	color: white;
	font-style: italic;
	position: absolute;
	left: 55%;
	top: 46%;
	opacity: 0;
}
h5 {
	font-size: 3.5vh;
	color: white;
	font-style: italic;
	position: absolute;
	right: 3%;
	bottom: 5%;
	opacity: .5;
}

#DBC {
	
	top: 60%;
	opacity: 0.5;
	
}
