body {
	background-image:URL('bg.jpg');
	background-size: cover;
	font-family: 'Impact';
}


h1 {
	font-size: 400%;
}

form {
	font-family: "Trebuchet MS";
}

#main {
	background-color:rgba(255,255,255,0.76);
	left: 20%;
	width: 60%;
	height: 150%;
	position: absolute;
	text-align: center;
	display: inline-block;
	
}

#fill, #size, #choco {
	display: inline-block;
	margin: 1em;
	text-align: left;
	position: relative;
	vertical-align:top;
	
	
}

#wallet {
	z-index: 3;
	text-align:center;
	position: relative;
	width: max-content;
	margin: 0;
	
}
#walletpng {
	width: 30%;


}

#money {
	font-family: 'Impact'; 
	color:#00ff00;
	font-size: 6vh;
	text-align: center;
	transform: translateY(-110%);
}

table {
	display: table;
	table-layout: fixed;
}

tr { 
display: table-cell;
width: 33%;
}

input {
	text-align: left;
	vertical-align: center;
	margin: 0px;
}